<style>

</style>

<div class="container">
  <h2>Olá {{name}}!!</h2>
  <p>Sua inscrição para o segundo semestre de 2022 foi efetuada com sucesso e sua inscrição consta na {{description}}.
  </p>
  <p>Seu número de matrícula é: {{enrollment}}</p><br />
  <span>Em anexo o termo de responsabilidade, que deverá ser preenchido, digitalizado e enviado no E-mail de contato da
    Associação (caso não tenha sido enviado durante a inscrição!)</span>
  <br />

  <p>Acompanhe pelo manual do candidato (edital) informações a respeito da prova diagnóstica online, acesse através do link:
    <a href="https://www.associacaopaideia.org.br/edital.pdf">
      https://www.associacaopaideia.org.br/edital.pdf
    </a></p>
  <br />

  <p>A prova diagnóstica e redação já está disponível, esteja logado para realizar a prova, clique na opção "Simulado" no menu ou acesse através do link:
    <a href="https://www.associacaopaideia.org.br/simulado">
      https://www.associacaopaideia.org.br/simulado
    </a></p>
  <br />

  <p>Favor não responder esse e-mail, se quiser entrar em contato conosco utilize o e-mail
    <em>contato@associacaopaideia.org.br</em>
  </p>
</div>
