<style>

</style>

<div class="container">
  <h2>Olá {{name}}!</h2>
  <h3>Seu cadastro ao Sistema da Associação Paideia foi realizado com sucesso!</h3>
  <p>O cadastro é necessário para que seja dado prosseguimento a inscrição.</p>
  <br>

  <h4>APENAS ESSE CADASTRO NÃO GARANTE SUA VAGA!</h4>
  <p>Você já pode preencher seu formulario de inscrição.</p>
  <p><b>Código (para válidar o primeiro acesso): {{code}}</b></p>
  <br>

  <h4>Acesse através do link:
    <a href="https://www.associacaopaideia.org.br/acesso">
      https://www.associacaopaideia.org.br/acesso
    </a>
  </h4>
  <br>

  <p>Favor não responder esse e-mail, se quiser entrar em contato conosco utilize o e-mail
    <em>contato@associacaopaideia.org.br</em>
  </p>
</div>