<style>

</style>

<div class="container">
  <h2>Olá {{name}}!</h2>
  <p>
    Recebemos uma solicitação para redefinir sua senha, você pode fazer isso clicando neste link:
    <a href="{{link}}" target="__blank"> {{link}} </a>
  </p>
  <br>

  <strong>
    Esse link é válido por 1 hora e só pode ser usado uma vez!
  </strong>
  <br>

  <p>Favor não responder esse e-mail, se quiser entrar em contato conosco utilize o e-mail
    <em>contato@associacaopaideia.org.br</em>
  </p>
</div>