<style>

</style>

<div class="container">
  <h2>Olá {{name}}!!</h2>
  <p>Sua inscrição para o primeiro semestre de 2021 foi efetuada com sucesso e sua inscrição consta na {{description}}.
  </p>
  <p>Seu número de matrícula é: {{enrollment}}</p><br />
  <span>Em anexo o termo de responsabilidade, que deverá ser preenchido, digitalizado e enviado no E-mail de contato da
    Associação (caso não tenha sido enviado durante a inscrição!)</span>
  <br />

  <p>Favor não responder esse e-mail, se quiser entrar em contato conosco utilize o e-mail
    <em>contato@associacaopaideia.org.br</em>
  </p>
</div>